# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ForceDotNetJwtCompanion.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\backend\ForceDotNetJwtCompanion\.idea\.idea.ForceDotNetJwtCompanion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
